@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?tn8q0p');
    src:    url('fonts/icomoon.eot?tn8q0p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tn8q0p') format('truetype'),
    url('fonts/icomoon.woff?tn8q0p') format('woff'),
    url('fonts/icomoon.svg?tn8q0p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
    content: "\f005";
}

.star {
    width: 32px;
    height: 32px;
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
    color: gray;
}

.star.selected {
    color: #ffb826;
}
