<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon: Rating widget</title>
    <link rel="stylesheet" href="app.css">
    <script type="application/javascript" src="angular.min.js"></script>
    <script type="application/javascript" src="app.js"></script>
</head>
<body>
    <div ng-app="rating-module">
        <div ng-controller="ratingCtrl">
            <rating ng-repeat="r in response" max="5"></rating>
        </div>
    </div>
</body>
</html>